<% include partials/header.ejs %>

        <!-- About -->
        
        <div class='jumbotron'>
          
        </div>
        <div class='container'>
            
            <h2 class="about-header text-center">About</h2>
            
            <div class='about'>
                <p>Lorem ipsum dolor sit amet, mea eleifend laboramus te, per ex causae evertitur. Ludus tempor cu mei, in eos modus soluta. Docendi interpretaris ex est, stet mundi volumus ea quo. Duis vidisse mei et. Et vix quando petentium molestiae, at est ridens mandamus. Mei illum euismod posidonium ut, ad usu postea inermis efficiantur.</p>

                <p>Nam ex stet pertinax, ad vim velit deseruisse disputationi. Deserunt mandamus et vel. Quo ne modo delenit. Eos an illum porro novum, saepe adversarium id ius. Mundi legimus at vis, et rebum putant eleifend mea.</p>

                <p>Persius adipisci id per. Cum et quem vitae appetere, duo suas cotidieque no, no quas dicunt dolorum sea. Vero everti duo ad, dicat aperiri est in, nam utamur evertitur te. Pri elit partiendo similique ex, te nisl molestie referrentur mel, facer rationibus ex cum. Zril maluisset ad eam, nusquam percipit suscipiantur mea an.</p>
            </div>
        </div>


        <!-- Footer -->
        
        <footer class='footer text-center'>
            <h3>&copy 2017</h3>
            <p><em>The Surf Shack</em></p>
            <p><em>Narragansett, RI</em></p>
        </footer>
        
    
        <!-- Add Bootstrap CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional Bootstrap Theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Font Awesome CDN -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
        <!-- Custom Stylesheet -->
        <link rel='stylesheet' type="text/css" href="/stylesheets/stylesheet1.css">
    </body>
</html>